$fondoF: white;
.footer {
    background-color: $fondoF;
    padding-left: 50px;
    &__centrado {
        text-align: $centro;
        padding-top: 20px;
    }
    &__end {
        text-align: end;
    }
}